/* COMMON CSS START  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* COMMON CSS END  */
/* NAVBAR CSS START  */
#navbar-part{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar {
    padding: 39px 0;
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo h2 {
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.nav-logo h2 span {
    color: #FF42A5;
}

.nav-manu {
    display: flex;
}

.nav-manu ul {
    display: flex;
    align-items: center;
}
.nav-manu ul li {
    padding-left: 32px;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.nav-icon {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 32px;
    padding: 17px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.btn-icon {
    padding: 0 20px;
}
/* NAVBAR CSS END  */
/* BANNAR CSS START  */
#bannar-part{
    background: url(../images/bannar-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 65%;
}
.bannar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannar-details h1 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 24px;
}
.bannar-details h1 span {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    color: #8758F1;
}
.bannar-details p{
    color: rgb(83, 76, 100);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    padding-bottom: 17px;
}
.bannar-btn button{
    margin-right: 24px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #FF42A5 ;
}
/* BANNAR CSS END  */
/* ONLINE GAMES CSS START  */
.online-games {
    padding: 140px 0;
}

.online-games-title {
    text-align: center;
}
.online-games-title h4{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}
.online-games-title h4 span{
    color:#8758F1;
}
.online-games-title p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}
.online-games-cards {
    display: flex;
    justify-content: space-between;
}
.card p {
    width: 287px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.card img {
    width: 90%;
    height: 85%;
}
.card{
   position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 85%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 14px;
    opacity: 0;
    border: 5px solid #FF42A5;
}
.overlay p{
    color: #FF42A5;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card:hover .overlay{
    opacity: 1;
}

/* ONLINE GAMES CSS END  */
/* PLAY INSTANTLY CSS START  */
.play-instantly-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}
.play-instantly-details h4{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 24px; 
}
.play-instantly-details h4 span{
    color: #FF42A5;
}
.play-instantly-details p{
    width: 353px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.horse {
    width: 72%;
}

.play-instantly-img {
    position: relative;
}

.doll {
    height: 48%;
    position: absolute;
    bottom: -31px;
    left: 94px;
}

/* PLAY INSTANTLY CSS END  */
/* TYPES OF GAMES CSS START  */
.games-type {
    margin: 100px 0;
    padding: 130px 0;
    background: rgba(255, 66, 165, 0.03);
}

.games-items-1 {
    display: flex;
    justify-content: space-between;
}

.games-items-2 {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

.games {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    padding: 20px 10px;
    transition: all linear 0.5s;
}
.games h5{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
.games h5:hover{
    color: #FF42A5;
}
.games:hover{
    border: 1px solid #FF42A5;
}
/* TYPES OF GAMES CSS END  */
/* FOOTER CSS START  */
.footer{
    padding: 120px 0;
    background: #0B0223;
    text-align: center;
}
.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 247px;
    margin: 0 auto;
}
.footer-title-text h4{
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.footer-title-text span{
    color: #FF42A5;
}
.footer-text{
    width: 794px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer-text p{
    padding-top: 56px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
}
.footer-icon img{
    padding-top: 66px;
    margin-right: 50px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 688px;
    margin: 0 auto;
}
.footer-bottom p{
    padding-top: 74px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}
.copyright p{
    padding-top: 28px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
}
/* FOOTER CSS END  */


